@page "/DishSpace"
@inject InewHHService HHService
@inject IMemberService MemberService
@inject IGoodService GoodService
@inject IDishService DishService
@inject IInviteService InviteService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager navigationManager
@inject IDataService DataService
@inject InewHHService HHService



@attribute [Authorize]
@rendermode @(new InteractiveServerRenderMode(false))

<PageTitle>DishSpace</PageTitle>
<h3>DishSpace</h3>
<h1>@Debug</h1>
<h1>@HHService.SharedDish.ID</h1>


@code {
    string MemberLogin = "";
    string HHLogin = "";
    //List<Good> allGoods = new();// iron ingot has no ings
    Dictionary<string, Good> allGoods = new();
    List<DBGood> allEssential = new();
    List<Good> usedEssential = new();
    string Debug = "aboba";
    string debug2 = "";
    List<Good> prepDecoGoods = new();
    Dictionary<string, Good> prepGoodsDic = new();

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        if (user.Identity.IsAuthenticated)
        {
            MemberLogin = user.Identity.Name;
        }
        
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // Only load data after the first render, to prevent multiple calls
            await HHService.LoadDataFromSession();

            // Trigger a re-render if necessary
            StateHasChanged();
        }
    }
    

    
}
