@page "/DishControl"
@inject IHHService HHService
@inject IMemberService MemberService
@inject IGoodService GoodService
@inject IDishService DishService
@inject IInviteService InviteService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager navigationManager


@attribute [Authorize]
@rendermode InteractiveServer

<PageTitle>DishControl</PageTitle>
<h3>DishControl</h3>
<button onclick="@GoToCreateNewDish">Add new</button>

@code {
    protected override async Task OnInitializedAsync()
    {
        base.OnInitialized();
    }
    private void GoToCreateNewDish()
    {
        navigationManager.NavigateTo("/DishFactory");
    }
}
